<section id="about" class="about pt-0">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <p>
          Geeks data est un éditeur de solutions logicielles (data science – text mining) au service des
          objectifs métiers de nos clients.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
          <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
          <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <p>
          L'intelligence artificielle (IA) est « l'ensemble des théories et des techniques mises en
          oeuvre en vue de réaliser des machines capables de simuler l'intelligence ». Elle correspond
          donc à un ensemble de concepts et de technologies plus qu'à une discipline autonome constituée.
        </p>
        <a href="#" class="btn-learn-more">Notre logiciel</a>
      </div>
    </div>

  </div>
</section>
