<section style="padding-top: 0" id="moovobrain-product">
  <div class="container overflow-hidden pt-0">
    <div class="section-header">
      <h2 class="section-title text-center">Notre Solution</h2>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam beatae consequuntur dolor ipsa maxime.
        <br>Lorem ipsum dolor sit amet, consectetur adipisicing
        Lorem ipsum dolor sit amet.<br> Lorem ipsum dolor sit amet.

      </p>
    </div>
    <div class="row">

      <div class="col-lg-6 text-center" id="moovobrain-img" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out">
        <img class="img-fluid" src="assets/images/robot-4.png" style="height: 415px" alt="image missing...">
      </div>

      <div class="col-lg-6 h-100 align-middle" id="moovobrain-info" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in-out">
        <div class="media service-box">
          <div class="pull-left">
            <i class="icofont-brain-alt"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Intelligence artificielle</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, quibusdam!</p>
          </div>
        </div>

        <div class="media service-box">
          <div class="pull-left">
            <i class="icofont-iphone"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Application mobile</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ipsam nesciunt repudiandae?</p>
          </div>
        </div>

        <div class="media service-box">
          <div class="pull-left">
            <i class="icofont-safety"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Securité</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem! </p>
          </div>
        </div>

        <div class="buttons text-center text-md-right">
          <button class="btn custom-margin" title="Fonctionnalité non implementer">
            <i class="icofont-pay order-icon"></i> <span class="btn-text"> Acheter</span>
          </button>

          <button class="btn " title="Fonctionnalité non implementer">
            <i class="icofont-thumbs-up order-icon"></i><span class="btn-text"> Evaluer </span>
          </button>
        </div>

      </div>
    </div>
  </div>
</section>
